* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #efe4e4;
    font-family: 'Poppins', sans-serif;
    color: #232323;
    background-image: url(images/bg02.jpg);
    background-attachment: fixed;
    background-size: cover;
}
h1, h2 {
    font-family: 'Lobster', cursive;
    width: 100%;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
p {
    font-size: 20px;
}

.transition {
    float: left;
}

.splash {
    height: 30vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash--content {
    z-index: 2;
}

.hr {
    width: 400px;
    height: 2px;
    margin: 10px 0px;
    background-color: #232323;
}

.splash--margin {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.splash img {
    position: absolute;
    right: 0;
    top:0;
    width: 800px;
}

.info {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-filter: drop-shadow(12px 12px 0px rgba(142, 30, 73, .3)) drop-shadow(-12px -12px 0px rgba(84, 195, 188, .3)); 
    filter: drop-shadow(12px 12px 0px rgba(142, 30, 73, 0.3)) drop-shadow(-12px -12px 0px rrgba(84, 195, 188, .3));
    flex-wrap: wrap;
}

.info--btwn_out {
    background-color: #123652;
    width: 100vw;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.info--btwn_in {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: fle;
    flex-wrap: wrap;
}

.info--content {
    color: #efefef;
}

.info--shape_start img, .info--shape_end img{
    width: 100vw;
    font-size: 0;
    float: left;
}

footer {
    display: flex;
    flex-wrap: wrap;
}

.footer--transition {
    width: 100vw;
    height: max-content;
}

.footer--btwn {
    width: 100vw;
    min-height: 40vh;
    background-color: #f06065;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer--content {
    color: #efefef;
}

.footer--content .hr, .info .hr {
    background-color: #efefef;
}